@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

label {
    user-select: none;
}

body {
    font-family: 'Noto Sans JP Variable', sans-serif;
}

hr {
    border-color: rgb(12 10 9 / var(--tw-bg-opacity, 1));
}

.child-div div, .child-div section, header, aside {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    .child-div div, .child-div section, header, .dropdown-menu, aside, ul {
        /* BG-STONE */
        background-color: rgb(12 10 9 / var(--tw-bg-opacity, 1));
    }

    hr {
        border-color: rgb(231 229 228 / var(--tw-bg-opacity, 1));
    }

    p, button, label, header, li, h1, h2, h3, h4, svg, summary {
        color: rgb(231 229 228 / var(--tw-bg-opacity, 1));
    }
}

[data-theme="dark"] {
    .child-div div, .child-div section, header, .dropdown-menu, aside, ul {
        /* BG-STONE */
        background-color: rgb(12 10 9 / var(--tw-bg-opacity, 1));
    }

    hr {
        border-color: rgb(231 229 228 / var(--tw-bg-opacity, 1));
    }

    p, button, label, header, li, h1, h2, h3, h4, svg, summary {
        color: rgb(231 229 228 / var(--tw-bg-opacity, 1));
    }
}

.child-div > .main-child {
    min-height: 100%;
}

@layer components {
    .entry {
        @apply border-stone-200 bg-stone-100 text-stone-700 dark:border-stone-600 dark:bg-stone-700 dark:text-stone-100
    }

    .heading {
        @apply text-stone-700 dark:text-stone-200
    }

    .sub-heading {
        @apply text-stone-500 dark:text-stone-400
    }
    
    .orange-tag {
        @apply bg-orange-100 text-orange-600 dark:bg-orange-600 dark:text-orange-100
    }

    .yellow-tag {
        @apply bg-yellow-100 text-yellow-600 dark:bg-yellow-600 dark:text-yellow-100
    }

    .colour-border {
        @apply border-stone-200 dark:border-stone-700
    }

    .hover-gray {
        @apply hover:bg-stone-200 dark:hover:bg-stone-700
    }

    .confirm-button {
        @apply rounded-full bg-orange-500 px-4 py-2 text-white hover:bg-orange-700;
    }

    .discard-button {
        @apply confirm-button bg-red-500 hover:bg-red-700;
    }

    .save-button {
        @apply confirm-button bg-green-500 hover:bg-green-700;
    }

    .large-button {
        @apply confirm-button w-40 rounded;
    }

    .screen-padding-x {
        @apply px-3 sm:px-5 md:px-6 lg:px-8 xl:px-10;
    }

    .screen-padding-y {
        @apply mb-2 py-3 sm:py-4 lg:py-5;
    }

    .counter-padding-top {
        @apply -mt-6 sm:-mt-8 lg:-mt-10;
    }

    .input-box {
        @apply w-24 rounded-md border px-2 py-1;
    }

    .card-container {
        @apply rounded-lg border colour-border p-4 shadow-md;
    }

    .card-island {
        @apply screen-padding-x screen-padding-y rounded pb-5 sm:pb-6 lg:pb-7
    }

    .page-title {
        @apply text-2xl font-bold;
    }

    .entire-screen {
        @apply fixed inset-0 z-50 overflow-y-auto bg-white;
    }
}
